---
import { useStoryblokApi, type ISbStory } from "@storyblok/astro"
// eslint-disable-next-line @typescript-eslint/ban-ts-comment
// @ts-expect-error
import StoryblokComponent from "@storyblok/astro/StoryblokComponent.astro"

const sbApi = useStoryblokApi()
const { path: inputPath } = Astro.params
const path = inputPath === undefined ? "home" : inputPath

const { data }: ISbStory = await sbApi.get(`cdn/stories/${path}`, {
	version: import.meta.env.DEV ? "draft" : "published",
})

const story = data.story
---

<html lang="en" class="dark">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body data-theme="gold-nouveau">
		<StoryblokComponent blok={story.content} />
	</body>
</html>
