---
import { storyblokEditable, renderRichText } from "@storyblok/astro"

const { blok } = Astro.props
const content = renderRichText(blok.content)
---

<section {...storyblokEditable(blok)}>
	<h1>{blok.title}</h1>
	<h2>{blok.subtitle}</h2>
	<p>{blok.description}</p>
	<Fragment set:html={content} />
</section>
