---
import { storyblokEditable } from "@storyblok/astro"
import Bloks from "../../components/Bloks.astro"
import type { PageStoryblok } from "../types"

export type Props = PageStoryblok

const { blok } = Astro.props
---

<main {...storyblokEditable(blok)}>
	{(<Bloks bloks={blok.body} />)}
</main>
